@font-face { font-family: Robotoslab; src: url('../assets/fonts/roboto-slab.regular.ttf'); }
@font-face { font-family: MontserratBold; src: url('../assets/fonts/Montserrat-Bold.otf'); }

.Book_wrap {
  display: flex;
  flex-direction: row;
  margin: 4em;
  padding: 1em;
  justify-content: space-between;
  border: solid 1px #fff;
  border-radius: 1rem;
  background-color: #fff;
}

.genre {
  width: 3.063rem;
  height: 1.125rem;
  margin: 0 2.438rem 0 0;
  opacity: 0.5;
  font-family: MontserratBold,sans-serif;
  font-size: 0.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.title {
  height: 1.813rem;
  margin: 0.188rem 20.188rem 0 0;
  font-family: RobotoSlab, sans-serif;
  font-size: 1.375rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: #121212;
}

.author {
  width: 6.688rem;
  height: 1.188rem;
  margin: 0.25rem 0 0;
  font-family: RobotoSlab, sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
}

.Interaction_wrap{
  display: flex;
  flex-direction: row;
  gap: 1em;
  margin-top: 2em;
}

.Interaction_wrap > div > button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 2rem;
  margin: 0.188rem 0.6rem 0.125rem 0;
  font-family: RobotoSlab, sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
  border: none;
  background-color: #fff;

}

.line {
  width: 0.050rem;
  height: 1.5rem;
  margin: 0.75rem 1.063rem 0 0.938rem;
  border: solid 1px #e8e8e8;
}

.status_wrap{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.completed {
   width: 4.25rem;
  height: 2.438rem;
  margin: 0.063rem 5.75rem 0 0.688rem;
  font-family: Montserrat, sans-serif;
  font-size: 2rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.completedtxt{
    width: 5rem;
  height: 1.125rem;
  margin: 0.438rem 4.938rem 0.75rem 0.75rem;
  opacity: 0.5;
  font-family: Montserrat;
  font-size: 0.875rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.current_chaptertxt{
  width: 7.875rem;
  height: 1.125rem;
  margin: 0.063rem 3.625rem 0 3.688rem;
  opacity: 0.5;
  font-family: RobotoSlab, sans-serif;
  font-size: 0.813rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.current_chapter {
  width: 4.688rem;
  height: 1.313rem;
  margin: 0.438rem 6.813rem 0.25rem 3.688rem;
  font-family: RobotoSlab, sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  color: #121212;
}

.update > div > button {
  width: 11.5rem;
  height: 2.063rem;
  margin: 2.5rem 0 0.563rem 3.688rem;
  padding: 0.438rem 1.188rem 0.5rem 1.375rem;
  border-radius: 3px;
  background-color: #0290ff;
  border: none;
}
